################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Gem Hunters/Gem Hunters/Gem Hunters.csproj
/Gem Hunters/Gem Hunters.sln
